@model chatAnswer
@{
    List<string> messages = new List<string>();
    if(ViewBag.messages != null)
    {
        foreach(var a in ViewBag.messages)
        {
            messages.Add(a);
        }
    }
}
<div class="container mt-5 pt-5">

    <form method="post" asp-action="Create" asp-controller="Home">
        <div class="row">
            <label asp-for="Name"></label>
            <input type="text" asp-for="Name" id="userInput" />
            <input type="text" asp-for="Message" id="messageInput" />
            <input type="text" asp-for="Date" id="dateInput"/>
            <button type="submit" class="btn-primary" id="sendButton">Submit </button>
            
     
    </form>
    <div class="row p-1">
        <div class="col-6">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
    
</div>

    <div class="container">
       
        <div class="row p-1">
            <div class="col-6">
                <ul id="messagesList"></ul>
            </div>
        </div>
    </div>
