<div class="box-shadow p-5 m-5"></div>
<div class="container mt-4">
	<h1>Introduction</h1>
	<p>Purpose and function:</p>
	<p>Orient is a career guidance platform for senior students and IT graduates in order to help them in their professional development. The platform consists of educational content divided into modules related to IT disciplines and a system of career suggestions.</p>

	<h2>Key features</h2>
	<p>The main features of the application are:</p>
	<ul>
		<li>Modules</li>
		<li>Tests after each module</li>
		<li>Final module test</li>
		<li>Career suggestion system</li>
		<li>Provision of statistics</li>
		<li>Provision of public user discussion</li>
	</ul>

	<h2>System requirements</h2>
	<p>The user must have internet access and access to web browsers.</p>

	<h2>Starting</h2>
	<ol>
		<li>Enter your username and password in the appropriate fields</li>
		<li>Press the "Login" button</li>
	</ol>

	<h2>User Interface</h2>
	<h3>Navigation Bar</h3>
	<p>At the top of the page, you can see the navigation bar with the application navigation labels "Overview", "Careers", "Community Chat", "Help", and "Logout" as well as the application logo. The Overview tag and the logo direct us to the app home page, the Careers tag to each content section, the Community Chat tag to the app's public chat, the Help tag to instructions for use, and finally, the logout tag takes us back to the login.</p>

	<h3>Home page - Overview</h3>
	<p>The first thing that appears on the home page is a "carousel". In it, there are 3 buttons, 2 on the left and right to navigate through it, and one centrally which leads to the content sections of the app.</p>

	<h3>Statistics</h3>
	<p>Here they are presented to the user:</p>
	<ul>
		<li>The completed modules (score above 50%)</li>
		<li>The total module completion efforts</li>
		<li>The times he/she has entered the application</li>
		<li>And the average score for all his module completion attempts</li>
	</ul>

	<h3>Content modules</h3>
	<p>The content modules have been divided into Machine Learning, Software Engineering, Data Science, UX Design, and Game Development. Initially, only the first module is "open" for user exploration, and the rest are gradually unlocked by achieving a score above 50% in each previous module. In addition, at the top of each card, the attempts to complete each module are shown, and the stage it is in with a corresponding icon (locked/unlocked without attempts/with bad score/with good score). Finally, at the bottom of each card, it is shown whether a module is unlocked (yellow button) or locked (grey button).</p>

	<h3>Module test</h3>
	<p>The content module tests are in a true/false or multiple-choice format and are presented random questions of each module in random order. Once the user completes the correct answers and clicks the "Submit" button, the user will receive the test results.</p>

	<h3>Test Results</h3>
	<p>Here the user sees the results of a true/false test, showing the questions, the answers given by the user, the correctness of those answers, and the score obtained. The user has the option to return to the home page by clicking on the "Back to Courses" button.</p>

	<h3>Final Test</h3>
	<p>The final test on all modules is unlocked once all tests are completed at least once. It contains 2 questions from each module, chosen at random. At the end, it displays the results like the content modules.</p>

	<h3>Career recommendation system</h3>
	<p>The career recommendation system is unlocked each time the user completes the test on all the modules. The "Explore Careers" button redirects the user to the page of a scenario-based test where the user works at an application development company, there they select the desired scenario at each point in the story. The selection is made by clicking on a card in each line. The user can return via the navigation bar to the home page.</p>
</div>