@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Question>

<form asp-controller="home" asp-action="Submit">
    <ol type="1">
        @foreach(var question in Model)
        {
            <li>
                @question.Content
                <input type="hidden" name="questionId" value="@question.QuestionId"/>
                <ol type="a">
                    @foreach (var ans in question.Answers)
                    {
                        <li><input type="radio" name="question_@question.QuestionId" value="@ans.AnswerId" />
                            @ans.Content</li>
                    }
                   
            
                </ol>
            </li>
        }
    </ol>
    <input type="submit" value="Submit" />
</form> 

