@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <title>Login_Page</title>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Orient</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/s.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/Orient.styles.css" asp-append-version="true" />
</head>
<body>
    <h3>Login</h3>
    @ViewBag.msg
<form method="post" asp-controller="home" asp-action="login">
    Username <input type="text" name="username" />
    <br />
    Password<input type="password" name="password" />
    <input type="submit" value="Login" />
</form>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>

