
@{
    int counter = 0;
}




<div class="container" style="margin-top:5%;">
    <h3>Report</h3>
    @foreach (var a in ViewBag.A.QuestionList)
{
   <div class="row">
        <div>@a.Content</div>
    
    @foreach(var a2 in ViewBag.A.AnswersList)
    {
        @if (a2.QuestionId == a.QuestionId)
        {
                    <h5 class="fw-bold col">@a2.Content</h5>
           
                    @if (@ViewBag.A.correctAnswers[counter].ToString() == "True")
                    {
                        <div class="col">
                            <img src="~/lib/icons/check.png" height="20" alt="true"/> True
                        </div>
                    }
                    else
                    {
                            <div class="col">
                                 <img src="~/lib/icons/false.png" height="20" alt="false"/> False
                            </div>
                       
                    }

        }

    }
   </div>

    counter++;
}
</div>
<h5 class="fw-bold">Total Points : @ViewBag.A.TotalScore</h5>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a class="btn btn-primary me-md-2" asp-controller="Home" asp-action="Welcome">Back to Courses</a>
</div>
