
@{
    int counter = 0;
}


Report

<div class="container">
    @foreach (var a in ViewBag.A.QuestionList)
{
   <div class="row">
        <div>@a.Content</div>
    
    @foreach(var a2 in ViewBag.A.AnswersList)
    {
        @if (a2.QuestionId == a.QuestionId)
        {

            <div class="col">@a2.Content </div>
            <div class="col">@ViewBag.A.correctAnswers[counter]</div>
        }

    }
   </div>

    counter++;
}
</div>
<div>Total Points : @ViewBag.A.TotalScore</div>
